* {
    box-sizing: border-box;
}

#container {
    border: 2px solid gold;
    border-radius: 20px;
    margin: 12px auto;
    padding: 10px;
    color: darkgreen;
    width: max-content;
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
    font-size: large;
    background-color: gold;
    box-shadow: 8px 8px 8px rgba(0, 0, 0, 0.5);
    /* box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.5); */
}

center {
    font-size: clamp(2rem, 2vw, 4rem);
}

input[type='number'] {
    width: 100px;
    text-align: right;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    font-size: medium;
    font-style: normal;
    border: 0.5px solid black;
    border-radius: 2px;
    padding-right: 5px;
}

input[type='text'] {
    text-align: right;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    font-size: medium;
    font-style: normal;
    text-transform: capitalize;
    border: 0.5px solid black;
    border-radius: 2px;
    padding-right: 5px;
}

#tprice {
    padding: 4px;
}

#taprice {
    text-align: right;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    font-size: large;
    font-style: normal;
    border: 0.5px solid black;
    border-radius: 2px;
    width: 200px;
    height: 22px;
    background-color: white;
    margin: 2px;
    padding-right: 2px;
    color: black;
}

#submit,
#reset {
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    font-size: larger;
    font-style: normal;
}
#buttonContainer{
    display: flex;
    flex-direction: row;
    align-items: center;
}
button {
    background-color: #4CAF50;
    color: white;
    padding: 8px 15px;
    margin: 8px;
    border: 2px solid #4CAF50;
    border-radius: 5px;
    cursor: pointer;
    width: 70%;
    /* opacity: 0.9; */
}

button:hover{
    background-color: #025705;   
    border: 2px solid #025705;
    box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.5);
}

.t_price {
    text-align: right;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    font-size: large;
    font-style: normal;
    border: 0.5px solid black;
    border-radius: 2px;
    width: 125px;
    height: 22px;
    background-color: white;
    margin: 2px;
    color: black;
    padding-right: 5px;
}